<?xml version="1.0"?>
<launch>

  <arg name="simulation" 			    default="true"/>
  <arg name="robot_namespace" 		default=""/>
  <arg name="enable_ekf" 			    default="true"/>
  <arg name="robot_description"  	default="robot_description"/>
  <arg name="description_file"    default="$(find smb_description)/urdf/smb_standalone.urdf.xacro"/>

  <!-- Load robot description -->
    <!-- Load robot description for gazebo -->
  <include file="$(find smb_description)/launch/load.launch">
    <arg name="simulation"       value="$(arg simulation)"/>
    <arg name="description_name" value="$(arg robot_description)"/>
    <arg name="description_file" value="$(arg description_file)"/>
    <arg name="wheel_joint_type" value="continuous"/>
    <arg name="robot_namespace"  value="$(arg robot_namespace)"/>
  </include>

  <!-- Load controller configuration -->
  <rosparam command="load" file="$(find smb_control)/config/control.yaml" />

  <!-- Spawn controllers -->
  <node name="base_controller_spawner" pkg="controller_manager" type="spawner"
        args="smb_joint_publisher smb_velocity_controller"/>

  <node name="smb_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <param name="publish_frequency" value="50"/>
    <param name="use_tf_static"     value="true"/>
    <remap from="robot_description" to="$(arg robot_description)"/>
  </node>

  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find smb_control)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="smb_velocity_controller/cmd_vel"/>
  </node>

  <!-- Start EKF for localization -->
  <group if="$(arg enable_ekf)" >
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
      <rosparam command="load" file="$(find smb_control)/config/localization.yaml" />
    </node>
  </group>

</launch>
